<!DOCTYPE html>
<html>
<head>
  <title>Staj Yönetim Sistemi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>
  <% if current_user%>
   <%= current_user.email %>
  <% end %>
</body>
</html>
